/* Sidebar */
a {
    -webkit-transition: top 0.3s ease, opacity 0.3s ease;
    transition: all 0.3s;
}
.sidebar {
    width: 20%;
    position: fixed;
    background-color: dimgray; /* temp */
    top: 64px;
    bottom: 0px;
    left: 0px;   
    opacity: 1;
}

.side-nav li {
    margin-bottom: 0px;
}
/**/
.side-nav li a:not(.button) {
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 600;
    color: white
}

.side-nav li ul {
    padding:0px;
}
.side-nav li ul li {
    background-color: gray;
    
    
}
.side-nav li ul li a:not(.button) {
    font-weight: 100;
    font-size: 1em;
    color: white
}


/* Top Bar */
nav.top-bar.expanded {
    height:60px;
    line-height: 60px;
    padding-top: 6px;
    width:auto;
}

/* Flash message */
div#success, div#error {
    padding-left: 15px;
}


/* Main Section */
div.admin {
    width: 80%;
    padding-top: 10px;
    margin-left:20%;
    top: 60px;
    
    /*background-color: blue; temp*/
}