/* Sidebar */
a {
    -webkit-transition: top 0.3s ease, opacity 0.3s ease;
    transition: all 0.3s;
}
.sidebar {
    width: 20%;
    position: fixed;
    background-color: dimgray; /* temp */
    top: 64px;
    bottom: 0px;
    left: 0px;   
    opacity: 1;
}

.side-nav li {
    margin-bottom: 0px;
}
/**/
.side-nav li a:not(.button) {
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 600;
    color: white
}

.side-nav li ul {
    padding:0px;
}
.side-nav li ul li {
    background-color: gray;
    
    
}
.side-nav li ul li a:not(.button) {
    font-weight: 100;
    font-size: 1em;
    color: white
}


/* Top Bar */
nav.top-bar.expanded {
    height:60px;
    line-height: 60px;
    padding-top: 6px;
    width:auto;
}
#user_section {
    position:absolute;
    right:0;
    margin-right: 20px;
}

/* Flash message */
div#success, div#error {
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.success {
    color: #067600;
    background-color: #e3ffdf;
}
.error {
    color: #b10000;
    background-color: #ffdddd;
}
.warning {
    color: #ffc000;
    background-color: #ffebad;
}

/* Main Section */
div.admin {
    width: 80%;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-left:20%;
    top: 60px;
    
}
div.admin div.category.view.large-9.medium-8.columns.content{
    width: 100%;
}

/*Login*/
.auth {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    background-color: #667380;
    overflow-x: hidden;
    overflow-y: auto;
}

.auth-container {
    width: 450px;
    min-height: 330px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
.auth-container .auth-header {
    text-align: center;
    border-bottom: 1px solid #85CE36; }
.auth-container .auth-title {
    color: #97A4B1;
    padding: 20px;
    line-height: 30px;
    font-size: 26px;
    font-weight: 600;
    margin: 0; }
.auth-container .auth-content {
    padding: 30px 50px;
    min-height: 260px; }
.auth-container .forgot-btn {
    line-height: 28px; }
.auth-container .checkbox label {
    padding: 0; }
.auth-container .checkbox a {
    vertical-align: text-top; }
.auth-container .checkbox span {
    color: #4f5f6f; }
.text-center {
    background: white;
    padding: 20px 0px;
}
/* custom */
.auth-container label {
    font-weight: bold;
}
.auth-container h1, .auth-container button {
    font-family: 'Raleway', sans-serif;
}
