body {
    background-color: burlywood;
}

/* Main Title Masthead */
div.site-heading.home 
{
    text-align: center
}
div#homepage_col {
    padding: 20px;
    text-align: center;
}
img { 
    max-width:150%;
    max-height:150%;
}
header#banner {
    overflow:hidden;
    
}
div#banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

/* For Students, For Educators */
a#title_home {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
    
    font-weight: 500;
    text-decoration: none;
    
    color: #297729;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
a#title_home:focus, a#title_home:hover {
    color: #3ca035;
}

/* Subtitle for Home Page */
a#subtitle_home {
    display: block;
    font-size: 1.75rem;
    
    font-weight: 300;
    text-decoration: none;
    
    color: #297729;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
a#subtitle_home:focus, a#subtitle_home:hover {
  color: #3ca035;
}
.btn-primary {
    border:none;
    background-color: #297729;
}
.btn-primary:hover {
    background-color: #3ca035;
}

/*container for article pages - no margin, sidebar on the right*/
.container#article {
    padding: 0px;
    width: 80%;
    margin-left:0px;
    margin-right:20%;
}
.container#article_masthead {
    width: 100%;
}
@media only screen and (max-width: 768px) {
    .container#article {
        padding: 0px;
        width: 100%;
        margin-left:0px;
        
    }
}

/* Sidebar */
.sidebar-wrapper {
  background-color: #3a4651;
    height: 100%;
    width: 22%;
    padding-top: 60px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: left 0.3s ease;
    transition: left 0.3s ease;
    z-index: 1;
    overflow-x: hidden;
}
.sidebar-wrapper a {
    color: white;
}
.sidebar-wrapper a:hover {
    color: lightgray;
    -webkit-transition: left 0.3s ease;
    transition: left 0.3s ease;
}
#sidebar-nav {
    
}
#sidebar-list {
    list-style-type: none;
    
}

@media only screen and (max-width: 768px) {
    .sidebar-wrapper {
        display:none;
    }
}

/* Footer - ask how to make it change color on hover. No answer online. */
.fas {
    color: green;
}
.fas:hover {
    color: darkgreen;
}