/* Login Screen */


/* Top Bar */
a#home {
    color: white;
}
a#home:hover {
    color: deepskyblue;
    text-decoration: none
}

.navbar h1 {
    margin: 0px
}
.fixed-top {
    padding: .5rem 1.7rem;
}

#body-row {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 64px;
    max-width: none;
}

/* Sidebar */
.side-nav li a {
    padding-left: 2rem !important;
}

/* Links */
button:hover {
    color:white;
}