body {
    background-color: burlywood;
    font-family: 'Patrick Hand', cursive;
}
h2.post-title {
    font-size: 3em;
    font-family: 'Gloria Hallelujah', cursive;
}
.nav-link {
    color:white;
}
.nav-link:hover {
    color:white;
    opacity: 0.8;
}
.overlay img {
    opacity:0.6
}

/* Main Title Masthead */
div.site-heading.home 
{
    text-align: center
}
div#homepage_col {
    padding: 20px;
    text-align: center;
}
img { 
    max-width:150%;
    max-height:150%;
}
header#banner {
    overflow:hidden;
    
}
div#banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

/* For Students, For Educators */
a {
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
a#title_home {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
    
    font-weight: 500;
    text-decoration: none;
    
    color: #297729;
}
a#title_home:focus, a#title_home:hover {
    color: #3ca035;
}

/* Subtitle for Home Page */
a#subtitle_home {
    display: block;
    font-size: 1.75rem;
    
    font-weight: 300;
    text-decoration: none;
    
    color: #297729;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
a#subtitle_home:focus, a#subtitle_home:hover {
  color: #3ca035;
}
.btn-primary {
    border:none;
    background-color: #297729;
    font-family: 'Patrick Hand', cursive;
}

/*container for article pages - no margin, sidebar on the right*/
.container#article {
    padding: 0px;
    width: 80%;
    margin-left:0px;
    margin-right:20%;
}
.container#article_masthead {
    width: 100%;
}
@media only screen and (max-width: 768px) {
    .container#article {
        padding: 0px;
        width: 100%;
        margin-left:0px;
    }
}
a#category {
    color: white;
    font-style: italic;
}
a#category:hover {
    text-decoration: none;
    opacity:0.8;
}

/* Client-side Sidebar */
.sidebar-wrapper {
  background-color: saddlebrown;
    height: 100%;
    width: 22%;
    padding-top: 60px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: left 0.3s ease;
    transition: left 0.3s ease;
    z-index: 1;
    overflow-x: hidden;
    font-family: 'Gloria Hallelujah', cursive;

}
.sidebar-wrapper a {
    color: white;
    padding: 0.8rem 2rem 0.8rem 2rem;
    -webkit-transition: left 0.3s ease;
    transition: left 0.3s ease;
}
.sidebar-wrapper a:hover {
    opacity: 0.8;
    background-color:#96572a;
}
#sidebar-list {
    list-style-type: none;
    padding:0px;
}
.sidebar-list.submenu {
    background-color: rosybrown;
    list-style-type: none;
}
#expand {
    float:right;
}


@media only screen and (max-width: 768px) {
    .sidebar-wrapper {
        display:none;
    }
}


/*Who Are We*/
span#desc {
    font-size: 1rem; line-height: 1;
}

a#email {
    color:white;
    font-style: italic
}
a#email:hover {
    color:gainsboro;
    text-decoration: none
}
/* Cropped rounded image */
.image-cropper {
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}
img#whoAreWe {
    display: inline;
    margin: 10 auto;
    height: 100%;
    width: auto;
}

/* Footer - ask how to make it change color on hover. No answer online. */
.fas {
    color: green;
}
.fas.fa-bars {
    color: white;
}
a#footlink:hover {
    opacity: 0.8;
}

/* Error Messages */
h1#message {
    font-size: 3em;
    font-family: 'Gloria Hallelujah', cursive;
}
