/* Top Bar */
a#home {
    color: white;
}

#body-row {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 100px;
    max-width: none;
}

/* Sidebar */
.side-nav li a {
    padding-left: 2rem !important;
}

/* Links */
button:hover {
    color:white;
}